/*css reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html{
  background-color: hsl(47, 88%, 63%);
}

header, body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.category{
  background-color:hsl(47, 88%, 63%);
  max-width: 82px;
  max-height: 29px;
  border-radius: 4px;
  margin-top: 8px;
  padding-top, padding-bottom: 4px;
  padding-left, padding-right:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;   
}
.category h5{
  font-family: "Figtree Extra Bold", sans-serif;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  /*max-width: 58;
  max-height: 21;*/
  font-size:0.875rem.

}

.date{
  font-size:0.875rem;
  padding-left: 0%;
  font-family: "Figtree Medium";
}
h1{
  font-family: "Figtree Extra Bold", sans-serif;
  font-weight: 800;
  line-height: 150%;
  color:hsl(0, 0%, 7%); 
  font-size: 1.5rem;
}

.paragraph p{
  font-size: 1rem;
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
/*image 1*/
img{
  max-width: 336px;
  max-height:200px;
  border-radius: 10px; 
}

.card{
background-color: hsl(0, 0%, 100%);
max-width:384px;
max-height:522px;
padding:24px;
margin: 12px;
border-radius: 10px;
border: 1px solid;
width: min-content;
}

.container1{
max-width:336px;
max-height:194px;
box-sizing: content-box;
padding-top: 12px;
}

.author{
max-width: 129px;
max-height: 32px;
padding-top: 12px;
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: start;

}

.authorname{
font-family: "Figtree Extra Bold", sans-serif;
font-weight: 800;
font-size:0.875rem;
align-self: center;
}

.attribution{
  padding-top: 12px;
}