/*css reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html{
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

header, body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.category{
    font-weight: 500;
    color: hsl(0, 0%, 7%);
    background-color:hsl(47, 88%, 63%);
    max-width: 82px;
    max-height: 29px;
    border-radius: 4px;
    margin: 8px;
    padding-top, padding-bottom: 4px;
    padding-left, padding-right:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;   
}
h5{
  max-width: 58;
  max-height: 21;
  font-size:0.875rem;
  font-family:"Figtree Extra Bold", sans-serif;
}

.date{
  font-size:0.875rem;
}
h1{
    font-weight: 800;
    line-height: 150%;
    color:hsl(0, 0%, 7%); 
    font-size: 1.5rem;
    
}

p{
  font-size: 1rem;
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  line-height: 150%;
}
/*images*/
img{
  max-width: 336px;
  max-height:200px;
  border-radius: 10px; 
}
.image2{
  max-width: 32px;
  max-height: 32px;
  padding-top: 12px;
}

.card{
background-color: hsl(0, 0%, 100%);
max-width:384px;
max-height:522px;
padding:24px;
margin: 12px;
border-radius: 10px;
border: 1px solid;
overflow: none;
width: min-content;
}

.container1{
max-width:336px;
max-height:194px;
border: 12px;
padding: 12px;
margin: 12px;
box-sizing: content-box;
}